on:
  release:
    types:
      - published

name: release

jobs:
  pypi:
    name: upload release to PyPI
    runs-on: ubuntu-latest
    permissions:
      # Used for OIDC publishing.
      # Used to sign the release's artifacts with sigstore-python.
      id-token: write

      # Used to attach signing artifacts to the published release.
      contents: write

    steps:
    - uses: actions/checkout@v5

    - uses: actions/setup-python@v6.0.0
      with:
        python-version-file: pyproject.toml
        cache-dependency-path: pyproject.toml
        cache: pip

    - name: deps
      run: python -m pip install -U setuptools build wheel

    - name: build
      run: python -m build

    - name: publish
      uses: pypa/gh-action-pypi-publish@v1.13.0
      with:
        attestations: true
